@model IEnumerable<StoreFrontLab.DATA.EF.Game>

@{
    ViewBag.Title = "Client-Side Filter/Sort/Search: jQuery Datatables (Games)";
}

<h2>@ViewBag.Title</h2>

<table class="table data-table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.G_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.G_Company)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.GamePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.G_UnitsSold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameImage)
            </th>
            <td>
                @*@Html.DisplayFor(modelItem => item.BookImage)*@
                <img src="~/Content/img/t_@item.GameImage" alt="@item.G_Name" />
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.BookID }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.GameID })
                @*@Html.ActionLink("Delete", "Delete", new { id = item.BookID })*@
            </td>
        </tr>
        }
        </tbody>

</table>

@section scripts{
    <script>
        // apply the jQuery plugin
        $(document).ready(function () {
            $(".data-table").DataTable({
                "order": [[1, "asc"]]
                // additional customizations that you can do to the Datatables plugin
                // This will sort by Book Title, ascending
                // Full documentation on customizations for the plugin found on datatables.net
            });
        });
    </script>
}